.category-section h2.section-title{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #131313;
    text-shadow:
        1px -1px 0 #767676,
        -1px 2px 1px #737272,
        -2px 4px 1px #767474;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    margin-bottom: 15vh;
}

.category-section .horizontal-card {
    border: none;
  
    max-height: 280px; /* Set a fixed height */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column; /* Ensure vertical layout */
    margin-bottom: 20px;
    height: 300px; /* Set a fixed height */
    overflow: hidden;
}